<%- include('partials/header') %>

<div class="about">
    <h1>
        About
    </h1>
    <p>
        Apna daftar has been created so that people with offices in only big cities can work from there home city in an office like environment.
        Malls/superstore can rent there spaces which will be listed on the website. Then the people can book them through the web app.  
    </p>
    
</div>


<%- include('partials/footer') %>