<%- include('partials/dbheader') %>
<body>
    <div class="change">
        <h1 class="heading">Change Password</h1>
        <%- include('partials/errors') %>
        <div class="row">
            <div class="col-lg-6 change">
                <div class="card">
                    <div class="card-body">

                        <form action="/change" method="POST">
                            <div class="form-group">
                                <label for="email">New Password</label>
                                <input type="password" class="form-control" name="newpassword">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm New Password</label>
                                <input type="password" class="form-control" name="renewpassword">
                            </div>
                            <button type="submit" class="btn btn-dark">Change Password</button>
                            <br>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>