<%- include('partials/dbheader') %>
<body class="dashboard" style="background-image: url(bg.jpg)">
<!-- \Photo by Alexander Andrews on Unsplash -->
<h1 class="heading"> Hello <%= userObj.username %></h1>


<a href="/pictures" class="btn btn-dark">Book Space!</a>


<%- include('partials/footer') %>
