<%- include('partials/header') %>
<% if(ln==="en") { %>
<div class="forgot">
	<legend class="heading">Forgot Password</legend>
	<%- include('partials/errors') %>

	
	<div class="row">
		<div class="col-lg-6 mail">
			<form action="/forgot" method="POST">
				<div class="form-group">
					<h4> Registered Email</h4>
					<input type="email" name="email" autofocus class="form-control">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Reset Password">
				</div>
			</form>
		</div>
	</div>
</div>
<%  } else {   %>
	
<% } %> 

<%- include('partials/footer') %>