<%- include('partials/header') %>

    <h1 class="display-3" style="text-align: center; margin-top: 30px;">Why rent with us?</h1>

    <main>

        <div class="container marketing" style="margin-top: 100px;">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Is your mall running out of retail ?</h2>
                    <p class="lead">With online retail being the new normal its ok if your superstore is loosing
                        customers. Most malls
                        have significant drop in footfall from third floor onwards.
                    </p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <image href="online.jpg" x="0" y="0" height="500px" width="500px" />
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Need to make big bugs out of minimal investment?</h2>
                    <p class="lead">So you started a Mall and its losing customers. Right? But your empty space/ floors
                        can earn you big revenue
                        without needing any thing extra!
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <image href="cash.jpg" x="0" y="0" height="500px" width="500px" />
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Technology is here to stay</h2>
                    <p class="lead">As the time flies technology will only get better ? So why not us it to enhance your
                        business?</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <image href="tech.jpg" x="0" y="0" height="500px" width="500px" />
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </main>

    <h3 style="text-align: center; margin-top: 30px;">Contact Us Today!</h1>

        <%- include('partials/footer') %>